
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display:flex;
justify-content:center;
align-items:center;
 min-height:100vh;
 background:url('./ img/img.jpg');
 background-size: cover;
 background-position: center;
}

.container{
  width: 420px;
background-color: transparent;
border:2px solid  rgba(255, 255, 255, 0.2);
border-radius: 10px;
padding: 30px 40px;
box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
}
.container h1{
  font-size: 36px;
  text-align: center;
}

.input-box{
  position:relative;
  width:100%;
  
}
